* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-bg: #222b3a;
}

body {
    background-color: var(--main-bg);
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Piazzolla', serif;
}

.navicon {
    color: white;
}

.navicon:hover {
    color: aqua;
}

.fa-snowflake {
    transition: all;
    animation: rotation 2s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}
.weinput{
    width: 35vw;
}
.mainbox {
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width: 800px) {
    .mainbox {
        flex-direction: column;
    }
    .weinput{
        width: 85vw;
    }
}

.fas {
    font-size: 5rem;
}

#cityinput{
    background-color: #e9f0fd;
}